@import "tailwind";

* {
  font-family: 'Fira Mono', monospace;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.container {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-column-gap: 20px;
  // grid-row-gap: 40px;
  // justify-items: stretch;
  // align-items: stretch;
 }

 .opacity-100 {
  transition: opacity 600ms;
 }

 .opacity-0 {
   transition: opacity 600ms;
 }

li a span.inline-block {
   transition: background 400ms;
 }
