---
title: Bourbon
---

<div id="help" class="invisible opacity-0 visible fixed pin-t pin-r w-full h-full bg-white z-40">
  <div class="container mx-auto flex flex-row justify-around h-screen my-32 px-16">
    <% data.bookmarks.each do |category, entries| %>
      <div>
        <h1 class="mb-5"><%= category %></h1>
        <ul class="list-reset">
          <% entries.each do |entry| %>
          <li>
            <a href="<%= entry[:url] %>" class="group text-black no-underline" data-hover-color="<%= entry[:color].strip %>">
              <span class="inline-block ml-4 mr-1 mb-1 mt-1 bg-black text-white px-3 py-2 rounded-sm"><%= entry[:shortcut] %></span>
              <span class="group-hover:border-b-2 border-black"><%= entry[:name] %></span>
            </a>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  </div>

<button id="reload" class="fixed pin-b pin-r mr-4 mb-4 rounded px-4 py-1 leading-normal bg-white border border-grey-darker text-grey-darker hover:bg-white opacity-0 hover:opacity-100 z-50">Reload</button>
<a href="" id="meta", class="fixed pin-b pin-l ml-4 mb-4 leading-normal text-white text-xs no-underline opacity-0 hover:opacity-100 z-50"></a>
